# Fichiers de configuration spécifiques à l'utilisateur
.env

# Environnement virtuel Python
.venv/
venv/

# Fichiers de cache et compilés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossiers de build et de distribution
build/
dist/
*.egg-info/

# Fichiers générés par PyInstaller
*.spec

# Fichiers système (macOS)
.DS_Store